body {
  padding: 0px;
  background-image: url("/images/background-photo.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: 'Libre Franklin', sans-serif;
  margin: 6px 0px 0px 0px;
}

#greeting {
  margin: 6px 0px 20px 0px;
}

h3 {
  font-family: 'Libre Franklin', sans-serif;
  margin-bottom: 6px;
  margin-left: 20px;
}

ul {
  font-family: 'Libre Franklin', sans-serif;
  margin-top: 4px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 16px;
}

p {
  font-family: 'Libre Franklin', sans-serif;
  margin: 4px 0px 4px 6px;
}

label {
  font-family: 'Libre Franklin', sans-serif;
}

button {
  margin: 4px 2px 6px 10px;
}

input {
  margin-bottom: 6px;
}

.grid-container {
  display: grid;
  grid-template-columns: 240px 140px 160px 180px;
  padding: 6px 20px;
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .grid-container {
    grid-template-columns: auto auto auto auto;
  }
}

.grid-item {
  position: relative;
  border: 1px solid;
  margin: 0px;
  background-color: rgb(246, 244, 244);
}

.center {
  text-align: center;
}

.delete-task {
  float: right;
}

.change-button {
  float: right;
}

.sort-tasks {
  float: right;
  margin-right: 8px;
}

#table-header {
  text-align: center;
}

#middle-column {
  margin: 0 auto;
  width: 60%;
  background-color: rgb(249, 94, 94);
  border: 3px solid;
}
